<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Transaction History-Customer</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<style type="text/css">
    .bs-example{
        margin: 10px;
    }
</style>
</head>
<body>
<form name="kidinfo">
<div class="bs-example">
    <div class="panel panel-default">
		<!-- Default panel contents -->

    <div class="panel-heading">Transaction History</div>
		<h4> Jan/22/2016 </h4>
		<table class="table">
			<thead>
				<tr>
					<th>Row</th>
					<th>Name</th>
					<th>Number</th>
					<th>Price/share</th>
          <th>Amount</th>
          <th>Operations</th>
          <th>Status</th>

				</tr>
			</thead>
			<tbody>
				<tr>
					<td>1</td>
					<td>xxx</td>
					<td>1000</td>
					<td>200$</td>
          <td>xxxxx</td>
          <td>check request</td>
          <td>pending</td>
				</tr>
				<tr>
					<td>2</td>
					<td>xx</td>
					<td>30</td>
					<td>100$</td>
          <td>xxxxx</td>
          <td>sell</td>
          <td>approved</td>
				</tr>
				<tr>
					<td>3</td>
					<td>xxxx</td>
					<td>200</td>
					<td>1000$</td>
          <td>xxxxx</td>
          <td>buy</td>
          <td>pending</td>
				</tr>
			</tbody>
		</table>

    <h4> Jan/28/2016 </h4>
		<table class="table">
			<thead>
				<tr>
					<th>Row</th>
					<th>Name</th>
					<th>Number</th>
					<th>Price/share</th>
          <th>Amount</th>
          <th>Operations</th>
          <th>Status</th>

				</tr>
			</thead>
			<tbody>
				<tr>
					<td>1</td>
					<td>xxx</td>
					<td>1000</td>
					<td>200$</td>
          <td>xxxxx</td>
          <td>check request</td>
          <td>pending</td>
				</tr>
				<tr>
					<td>2</td>
					<td>xx</td>
					<td>30</td>
					<td>100$</td>
          <td>xxxxx</td>
          <td>sell</td>
          <td>approved</td>
				</tr>
				<tr>
					<td>3</td>
					<td>xxxx</td>
					<td>200</td>
					<td>1000$</td>
          <td>xxxxx</td>
          <td>buy</td>
          <td>pending</td>
				</tr>
        <tr>
					<td>4</td>
					<td>xxxx</td>
					<td>200</td>
					<td>1000$</td>
          <td>xxxxx</td>
          <td>deposit</td>
          <td>pending</td>
				</tr>
			</tbody>
		</table>

	</div>

</div>

</form>
</body>
</html>
