<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Customer Register</title>
    </head>

    <body>

        <h5>Customer Register</h5>
        <table>
        <tr>
            <td>First Name:</td>
            <td>
                <input type = "text" name = "firstname" value = "" autofocus/>
            </td>
        </tr>

        <tr>
            <td>Last Name:</td>
            <td>
                <input type = "text" name = "lastname" value = "" />
            </td>
        </tr>


        <tr>
            <td>User Name:</td>
            <td>
                <input type = "text" name = "username" value = "" />
            </td>
        </tr>

        <tr>
            <td>Password:</td>
            <td>
                <input type = "password" name ="password" value = ""/>
            </td>
        </tr>

        <tr>
            <td>Confirm Password:</td>
            <td>
                <input type = "password" name ="confirm-password" value = ""/>
            </td>
        </tr>


        <tr>
            <td colspan = "3">Address Line1:</td>
            <td>
                <input type = "text" name ="addr_line1" value = ""/>
            </td>
        </tr>

        <tr>
            <td colspan = "3">Address Line2:</td>
            <td>
                <input type = "text" name ="addr_line2" value = ""/>
            </td>
        </tr>


         <tr>
            <td>City:</td>
            <td>
                <input type = "text" name ="city" value = ""/>
            </td>
             <td>State:</td>
             <td>
                <input type = "text" name ="state" value = ""/>
            </td>
              <td>Zipcode:</td>
             <td>
                <input type = "text" name ="zip" value = ""/>
            </td>
        </tr>


        <tr>
            <th colspan = "2">
                <input type = "submit" name = "button" value = "register"/>
            </th>
        </tr>

    </table>
    </body>

</html>
